{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Email Automation</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Email Automation</h2>

        {% if oauth_ready %}
            <p>Google account connected</p>

            <form method="post">
                {% csrf_token %}
                <button class="primary" type="submit">
                    Run Email Automation
                </button>
            </form>
        {% else %}
            <p>
                Connect your Gmail account securely using Google OAuth.
                No passwords are stored.
            </p>

            <a href="{% url 'google_login' %}">
                <button class="primary">
                    Login with Google
                </button>
            </a>
        {% endif %}
    </div>
</body>
</html>
